@model CourseRegistration.Models.ModelsDto.CourseDto

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>CourseDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="C_courseID" class="control-label"></label>
                <input asp-for="C_courseID" class="form-control" />
                <span asp-validation-for="C_courseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_courseNumber" class="control-label"></label>
                <input asp-for="C_courseNumber" class="form-control" />
                <span asp-validation-for="C_courseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_courseName" class="control-label"></label>
                <input asp-for="C_courseName" class="form-control" />
                <span asp-validation-for="C_courseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="C_courseDescription" class="control-label"></label>
                <input asp-for="C_courseDescription" class="form-control" />
                <span asp-validation-for="C_courseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
